.listContainer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.listWrapper {
	width: 100%;
	max-width: 1024px;
	display: flex;
	gap: 20px;
}

.listSearch {
	flex: 1;
	background-color: #febb02;
	padding: 10px;
	border-radius: 10px;
	position: sticky;
	top: 10px;
	height: max-content;
}

.lsTitle {
	font-size: 20px;
	color: #555;
	margin-bottom: 10px;
}

.lsItem {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 10px;
}

.lsItem > label {
	font-size: 12px;
}

.lsItem > input {
	height: 30px;
	border: none;
	padding: 5px;
}

.lsItem > span {
	height: 30px;
	padding: 5px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.lsOption {
	padding: 10px;
}

.lsOptionItem {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	color: #555;
	font-size: 12px;
}

.lsOptionInput {
	width: 50px;
}

.listSearch > button {
	padding: 10px;
	background-color: #0071c2;
	color: white;
	border: none;
	width: 100%;
	font-weight: 500;
	cursor: pointer;
}
.listSearchWideScreen{
	flex: 1;
	background-color: #febb02;
	padding: 10px;
	border-radius: 10px;
	position: sticky;
	top: 10px;
	height: max-content;
}
.listSearchWideScreen > button {
	padding: 10px;
	background-color: #0071c2;
	color: white;
	border: none;
	width: 100%;
	font-weight: 500;
	cursor: pointer;
}
.listResult {
	flex: 3;
}

.removeListSearch {
	display: none;
}
	.listSearchInfo {
	display: none;
}
@media (max-width: 800px) {

.listSearchWideScreen{display:none}

	.listWrapper {
		flex-direction: column;
	}

	.listSearch {
		position: relative;
		top: 0;
	}
	.removeListSearch {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
	}

	.listSearchInfo {
		display: block;
		background-color: #febb02;
	}

	.listSearchHeader {
		height: 40px;
		background-color: white;
	}

	.listSearchInfo h1 {
		font-size: 16px;
		display: table-cell;
		vertical-align: middle;
		border-radius: 3px 3px 0 0;
		padding: 10px 5px;
		text-transform: capitalize;
	}

	.listSearchWraper {
		background-color: #f4f4f4;
		margin: 15px;
	}

	.listUserOption {
		font-size: 14px;
		width: 100%;
		height: 30px;
		display: table-cell;
		vertical-align: middle;
	}

	.listUserOption:nth-child(n + 1) {
		padding: 5px;
		margin-left: 5px;
	}

	.listSearchWraper {
		background-color: #f4f4f4;
		margin: 15px;
		box-shadow: 0 1px 3px -1px rgb(0 0 0 / 30%);
		border: solid 1px #cd8900;
	}

	.listIcon {
		margin: 0 5px;
	}

	.listContainer {
		margin-top: 0;
	}

	.listWrapper {
		gap: 0;
	}

	.listIconSearch {
		display: inline;
	}
}
