.loginContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 48px;
}

.loginForm {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 360px;
}

.loginTitle {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	margin: 0;
}

.loginForm p {
	font-size: 14px;
	margin: 0;
}

.loginForm label {
	font-size: 14px;
	font-weight: 500;
	margin-top: 20px;
}

.loginForm input {
	height: 36px;
	margin-bottom: 10px;
}

.loginForm button {
	padding: 8px 16px;
	min-height: 48px;
	min-width: 48px;
	background-color: #0071c2;
	border-color: #0071c2;
	color: white;
	font-size: 16px;
	font-weight: 500;
}

.loginSocial {
	margin: 0px;
	/* margin-top: 18px; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginSocialDevider {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin: 16px 0;
}

.socialOptionText {
	white-space: nowrap;
	margin: 0 8px 2px;
}

.dash {
	height: 1px;
	width: 100%;
	background-color: #dedede;
}

.loginSocialButton {
	display: flex;
	justify-content: center;
}

.fa {
	border: 1px solid #e6e6e6 !important;
	margin: auto 8px;
	width: 72px;
	height: 72px;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
}

.fa-facebook {
	color: #0071c2;
}

.fa-google {
	color: rgb(206, 42, 42);
}

.fa-phone {
	color: rgb(31, 189, 31);
}

.loginOtherOptions {
	text-align: center;
	font-weight: 200;
}

.loginOtherOptions button {
	/* font-weight: 500; */
	margin: 20px;
	color: #0071c2;
	background-color: transparent;
	border: none;
	font-weight: 700;
	font-size: 14px;
}

.signInALink button {
	color: #0071c2;
	background-color: transparent;
	width: 360px;
	border: 1px solid #0071c2;
}
