.navbar {
	height: 50px;
	background-color: #003580;
	display: flex;
	justify-content: center;
	padding: 10px;
}

.navContainer {
	width: 100%;
	max-width: 1024px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-weight: bolder;
	font-size: 18px;
	text-decoration: none;
	color: inherit;
}

.navButton {
	margin-left: 20px;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	color: #003580;
	background-color: white;
}

.userTrip {
	border: 1px solid white;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
	margin-right: 10px;
}

.userName {
	font-size: 18px;
	font-weight: bold;
}

.firstName {
	text-transform: capitalize !important;
	padding-right: 2px;
}

.lastName {
	text-transform: capitalize;
}

@media (max-width: 800px) {
	.navContainer {
		padding: 10px;
	}
}
